<html>
<head>
<style>

#th{
color:white;
padding-top:20px;
padding-bottom:20px;
text-align:left;
background-color:#b22222;
border:1px solid gray;
}
#td
{
padding: 8px;
border:1px solid gray;
}
#tbl
{
border-collapse:collapse;
width:100%
font-family:sans-serif;
border-style:solid;
border-color:gray;
border:1px;
}
tr:nth-child(even){background-color:#f2f2f2}
tr:hover{background-color:burlywood;}
</style>
</head>
<body>
<table id="tbl">
<TR>
<TH id="th">Sl.No.</TH>
<TH id="th">Admission No.</TH>
<TH id="th">Name</TH>
<TH id="th">Email ID</TH>
</TR>
<TR>
<TD id="td">1</TD>
<TD id="td">19MP2134</TD>
<TD id="td">Rajeesh</TD>
<TD id="td">rajeesh2134@gmail.com</TD>
</TR>
<TR>
<TD id="td">2</TD>
<TD id="td">19MP2135</TD>
<TD id="td">Anamika</TD>
<TD id="td">anamika2135@gmail.com</TD>
</TR>
<TR>
<TD id="td">3</TD>
<TD id="td">19MP2136</TD>
<TD id="td">Kavya</TD>
<TD id="td">kavya2136@gmail.com</TD>
</TR>
</TABLE>
</BODY>
</HTML>
